In [1]:
import pandas as pd

In [2]:
url = "data/c.csv"
da = pd.read_csv(url)

In [3]:
da.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [13]:
da['BMXWT'].mean()

81.34267560889509

In [ ]:
# ONE HOT ENCODING

In [5]:
B = ['Izhar','Aizaz','Ashad','Zain','Rizwan','Ashad','Ashad','Rizwan']

In [6]:
d = {'Categorical': B}

In [7]:
df = pd.DataFrame(d)

In [8]:
df

  Categorical
0       Izhar
1       Aizaz
2       Ashad
3        Zain
4      Rizwan
5       Ashad
6       Ashad
7      Rizwan

In [9]:
df['Categorical']

0     Izhar
1     Aizaz
2     Ashad
3      Zain
4    Rizwan
5     Ashad
6     Ashad
7    Rizwan
Name: Categorical, dtype: object

In [11]:
# "dummies" is used to create columns corresponding to unique values
dfDummies = pd.get_dummies(df['Categorical'], prefix = 'category')

In [12]:
dfDummies

,category_Aizaz,category_Ashad,category_Izhar,category_Rizwan,category_Zain
0,0,0,1,0,0
1,1,0,0,0,0
2,0,1,0,0,0
3,0,0,0,0,1
4,0,0,0,1,0
5,0,1,0,0,0
6,0,1,0,0,0
7,0,0,0,1,0

In [14]:
dfDummies.values

array([[0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0]], dtype=uint8)